body {
    margin:0;
    font-family: 'Coiny', cursive;
    font-size:0;
}
.game-page{
    height:100vh;
    width:100vw;
}
.game-area{
    background-color:#db90b7;
    height:75%;
}
.board-container{
    position:relative;

    height:100%;
    width:60%;
    display:inline-block;
    background-color:#db90b7;
    background-image: url('../../image/wooden.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 15%;
    border-left: 5px solid #db90b7;
    box-sizing: border-box;
}
.board{
    position:relative;
    left:10%;
    top:2.5%;
    height:95%;
    width:80%;
    display:flex;
    flex-direction: column;
}
.board-row{
    height:100%;
    /* border:2px solid black; */
    width:100%;
    display:flex;
    box-sizing: border-box;
}
.marble-container{
    /* border:1px solid black; */
    height:100%;
    width:100%;
    box-sizing: border-box;
}
.marble {
    position:relative;
    top:5%;
    left:5%;
    height:90%;
    background-color:white;
    width:90%;
    border-radius:50%;
}
.hidden{
    display:'none'
}
.action-container{
    width:40%;
    height:100%;
    background-color:#db90b7;
    background-image: url('../../image/collectbk.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.info{
    font-size:1rem;
    height:30%;
    background-image: url('../../image/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5%;
}
.collector{
    height:70%;
    /* background-color:#db90b7;
    background-image: url('../../image/collectbk.png');
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-position-x: 100%;
    background-position-y: 5%; */
    position: relative;
}

#rulesButton{
    background-color:rgb(29, 147, 59, 0.9);
    border-radius: 5px;
    height:10%;
    width:20%;
    display:inline-block;
    font-size:1.5rem;
    color: #ccedda;
    position: absolute;
    right: 75%; 
    top: 82%;
}

#close{
    top:91%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}

.hide{
    display: none;
}

.popupContainer{
    height:100%;
    width:100%;
    font-size:1em;
    background-color: blue;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
}

.collector-box{
    /* background-color:#c63d95; */

    height: 80%;
    width: 80%;
    position: relative;
    display: inline-block;
    left: 10%;
    border-radius: 10%;
}
/* .marbleimg{
    position: relative;
    left: 33%;
} */

.board-body,.action-container{
    display:inline-block;
    vertical-align:top;
}

.player-area{
    background-color:#c63d95;
    height:25%;
}
.player0-container,.player1-container{
    width:50%;
    height:100%;
    display:inline-block;
    border: 5px solid #db90b7;
    box-sizing: border-box;
}

.player0-has,.player1-has{
    width:40%;
    position: relative;
    height:100%;
    display:inline-block;
    vertical-align: top;
}

.potionContainer{
    position: absolute;
    top: 2%;
    left: 16.66%;
    width: 60%;
    height:95%;
    border-radius: 150px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px #30bb4e;
}
.potionslot{
    padding-top: 10px;
    width: 100%;
    height: 30%;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    text-align: center;
}

.slotsleft{

    width: 15%;
    text-align: center;
    color: rgb(255, 248, 248);
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    margin: auto;
}
.score{
    width:60%;
    height:100%;
    display:inline-block;
    vertical-align: top;
    background-image: url('../../image/potion.png');
    background-size: 12vh;
    background-repeat: no-repeat;
}

.scoreA{
    background-position-x: 5%;
    background-position-y: 100%;
}

.scoreB{
    background-position-x: 95%;
    background-position-y: 100%;
}

.total-score{

    height:20%;
    width:100%;
    display:inline-block;
    font-size:1.5rem;
    text-align: center;
    color: #ccedda;
    position: relative;
}

.playerText0 , .playerText1 {
    visibility: visible;
    background-color: rgba(77, 189, 105, 0.9);
    border-radius: 10px;
    width: 60%;
    height: 35%;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(11, 43, 19, 0.9);
    margin: auto;
    position: relative;
    top: 20%;
    animation: colorchange 1s infinite;
    -webkit-animation: colorchange 1s infinite;
}



.modal{
    height:60%;
    width:60%;
    font-size:25px;
    background-color: limegreen;
    background-image: url('../../image/winimg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.modaltext{
    font-size: 3rem;
    color: rgb(29, 147, 59);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hide{
    display: none;
}

.marble, .collectedMarbles{
    background: radial-gradient(circle at 50% 0px, rgb(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 58%);
}

.collectedMarbles{
    border-radius: 50px;
    height:50px;
    width: 50px;
    display: inline-block;
    margin: 1px;
}

.divforposition{
    height: 70%;
    width: 80%;
}

.reset-button{
    height: 10%;
    width: 20%;
    font-size: 2rem;
    color: white;
    font-family: 'Coiny', cursive;
    background-color: rgb(29, 147, 59);
    border: 2px solid #c63d95;
}

.playing{
    background-color: rgb(29, 147, 59);
    
}

.marbleanima{
    animation: pickme 2s infinite;
    -webkit-animation: pickme 2s infinite;
}

@keyframes colorchange
{
  0%  {
      background: rgb(221, 188, 41);
      box-shadow: 1px 1px 1px 1px #ebdd22;
    }
  50%  {
      background: rgb(135, 231, 106);
      box-shadow: 2px 2px 2px 2px #abe426;
    }
  100%  {
      background: rgb(221, 188, 41);
      box-shadow: 1px 1px 1px 1px #ebdd22;
    }
}

@keyframes pickme {
    0%{box-shadow: -1px -1px 2px 2px #bba17b;}
    50%{box-shadow: -1px -1px 2px 2px #7e5416;}
    100%{box-shadow: -1px -1px 2px 2px #bba17b;}
}